body{
    background-image: linear-gradient(50deg, rgba(255, 0, 0, 0.8), rgba(255, 255, 255, 0.5));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#login,#regisztracio{
    background-color: rgba(255, 255, 255, 0.3);
    border: .2vw solid black;
    border-radius: 2vw;
    border-image-slice: 1;
    display: flex ;
    align-items: center;
    min-width: 10rem;
    max-width: 30rem;
    margin: auto;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
}
label{
    text-align: center;
    font-weight: bold;
    margin: 1%;
    font-size:x-large;
    font-size-adjust: inherit;
}
.LogRegInp{
    transition: ease-in-out .3s;
    font-size:medium;
    border: solid black 2px;
    padding: .1vw;
}
.LogRegBut{
    margin: 1rem;
    font-size:medium;
    min-width: 3rem;
    min-height: .5rem;
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.308);
    border: solid black 2px;
    border-radius: 10px;
    font-weight: bold;
    transition: ease-in-out .4s;
}
.LogRegBut:hover{

    cursor: pointer;
    transition: ease-in-out .4s;
    border-radius: 14px;
    background-color: rgba(92, 91, 91, 0.623);
    color: white;
    text-shadow: black 1px 1px 2px;
}
#RegGombDiv{
    font-size: small;
    margin: 2vw;
}
#RegGombDiv button{
    color: rgb(71, 71, 252);
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    border: none;
    background-color: inherit;
    transition: ease-in-out .2s;
}
#RegGombDiv button:hover{
    cursor: pointer;
    color: rgb(15, 89, 247);
    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 4px;
    transition: ease-in-out .2s;
}
#regisztracio{
    display: none;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
}
#feladatsor{
    display: none;
}
.container {
    padding-top: 100px;
    display: flex;
}

#fajlfel, #eredmenymegj {
    
    width: 50%;
}

#felhnev_adminfel{
    float: left;
}
/* Style the search box */
#mySearch {
    text-align: center;
    width: 50%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
    margin: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation links */
#myMenu li a {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

#myMenu li a:hover {
    background-color: #eee;
}
#eredmenycim{
    text-align: center;
}
#eredmenymegj{
    text-align: center;
}

#tablazat{
    margin: auto;
}
#MainDiv{
    width: 100%;
    height: 100%;
    /*visibility: hidden;*/
}
.toggle {   
    margin-left: 35vw;
    margin-right: 35vw;
    width: 30vw;
    min-width: 30vw;
    height: 8vh;
    min-height: 8vh;
    background: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2rem;
    display: inline-block;
    padding: 2rem 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}
.toggleLabel{
    top: -1.25vh;
    font-size: large;
    text-align: center;
    z-index: 5;
    position: relative;
    cursor: pointer;
}
.selector {
    width: 12.5vw;
    height: 6vh;
    background: rgba(153, 152, 152, 0.616);
    border-radius: 1.5rem;
    position: absolute;
    top: 1vh;
    left: 1.25vw;
    z-index: 1;
    transition: left 0.25s ease-in-out;
}
input[type="radio"] {
    display: none;
}
@media screen and (min-width: 500px) {
    .Kozep:checked ~ .selector {
        left: 1.25vw;
    }
    .Emelt:checked ~ .selector {
        left: 16vw;
    }

}

@media screen and (max-width: 500px) {
    .toggle {   
        margin-left: 35vw;
        margin-right: 35vw;
        width: 30vw;
        min-width: 30vw;
        height: 10vh;
        min-height: 10vh;
        background: #ffffff;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5vw;
        display: inline-block;
        padding: 1.1rem 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .toggleLabel{
        top: -1.5vh;
        font-size: 2.25vh;
        text-align: center;
        z-index: 5;
        position: relative;
        cursor: pointer;
    }
    .selector {
        left: 2.5vw !important;
        width: 25vw;
        height: 4vh;
        background: rgba(170, 169, 169, 0.801);
        border-radius: 1.5rem;
        position: absolute;
        top: .8vh;
        left: 1vw;
        z-index: 1;
        transition: top 0.25s ease-in-out;
    }
    .Kozep:checked ~ .selector {
        top: .8vh;
    }
    
    .Emelt:checked ~ .selector {
        top: 4.5vh;
    }
    
  }