body{
    background-image: linear-gradient(50deg, rgba(255, 0, 0, 0.8), rgba(255, 255, 255, 0.5));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#login,#regisztracio{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px .5px black inset, 0 0 12px .5px black;
    transition: ease-in-out .5s;
    border: .2vw solid black;
    border-radius: 2vw;
    border-image-slice: 1;
    display: flex ;
    align-items: center;
    min-height: 20rem;
    max-height: 50rem;
    min-width: 10rem;
    max-width: 30rem;
    margin-top: 2rem !important;
    margin: auto;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
}
label{
    text-align: center;
    font-weight: bold;
    margin: 1%;
    font-size:x-large;
    font-size-adjust: inherit;
}
.LogRegInp{
    transition: ease-in-out .3s;
    font-size:medium;
    border: solid black 2px;
    padding: .1vw;
}
.LogRegBut{
    margin: 1rem;
    font-size:medium;
    min-width: 3rem;
    min-height: .5rem;
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.308);
    box-shadow: 0 0 2px .5px black inset, 0 0 8px .5px black;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: bold;
    transition: ease-in-out .4s;
}
.LogRegBut:hover{

    cursor: pointer;
    transition: ease-in-out .4s;
    border-radius: 14px;
    background-color: rgba(92, 91, 91, 0.623);
    box-shadow: 0 0 2px .5px gray inset, 0 0 8px .5px gray;
    color: white;
    text-shadow: black 1px 1px 2px;
}
#RegGombDiv{
    font-size: small;
    margin-top: 2vw;
}
#RegGombDiv button{
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    border: solid black 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: ease-in-out .3s;
}
#RegGombDiv button:hover{
    cursor: pointer;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 4px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    transition: ease-in-out .3s;
}
#regisztracio{
    display: none;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
}
#feladatsor{
    display: none;
}
.container{
    padding-top: 5rem;
    display: flex;
}

#felhnev_adminfel{
    float: left;
    margin: .5%;
}
/* Style the search box */
#mySearch {
    text-align: center;
    width: 50%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
    margin: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation links */
#myMenu li a {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

#myMenu li a:hover {
    background-color: #eee;
}
/*#myMenu li:before{
    text-decoration: none; 
    content: counter(list);
}*/
#eredmenycim{
    text-align: center;
}
#eredmenymegj{
    text-align: center;
    margin-bottom: 4rem;
}

#tablazat{
    margin: auto;
}
#MainDiv{
    height: 100%;
    width: 100%;
    visibility: visible;
}
.MainDivS{
    display: block;
}
.MainDivH{
    display: none;
}
#Navsor{
    width: 100%;
    height: 20%;
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
#Profil{
    margin-right: 5%;
    width: 6%;
    min-width: 4rem;
    max-width: 5rem;
    height: 8%;
    min-height: 4rem;
    max-height: 5rem;
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    padding: 4vh 0;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#Profil img{
    width: 100%;
    background:#ffffffbd;
    padding: 10%;
    border-radius: 1rem;
    border: solid black 1px;
    box-shadow: .1rem .1rem .2rem;
    
}
.toggle {   
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    min-width: 20%;
    height: 8%;
    min-height: 8%;
    max-height: 8vh;
    background: #ffffffbd;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 4vh 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}
.toggleLabel{
    top: -2.25vh;
    font-size: 2vh;
    text-align: center;
    z-index: 5;
    position: relative;
    cursor: pointer;
}
.selector {
    width: 12.5vw;
    height: 6vh;
    box-shadow: black .1rem .1rem .3rem;
    background: rgba(153, 152, 152, 0.616);
    border-radius: 1rem;
    position: absolute;
    top: 1vh;
    left: 1.25vw;
    z-index: 1;
    transition: left 0.25s ease-in-out;
}
input[type="radio"] {
    display: none;
}

.bal{
    padding-left: 2px;
}
.jobb{
    padding-right: 2px;
}
.clear{
    clear: both;
}
#oldal1, #oldal2 {
    width: 90vw;
    height: 120vh;
    max-width: 20cm; 
    max-height: 40.7cm; 
    margin: auto;
    margin-bottom: 5%;
    background-color: white;
    padding-bottom: 2%;
}

.align-top{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid black;
    padding-top: 2vh !important;
}
.szovegresz{
    padding-top: 5%;
    padding-left: 5%;
    width: 100%;
    height: 90%;
    padding-left: 10%;
    padding-right: 10%;
}
#oldal1{
    height: auto !important;
    margin-top: 3rem;
}

.align-bottom {
    width: 90%;
    margin: auto;
    border-top: 1px solid black;
    padding-top: 2vh !important;
    padding-bottom: 10px;
}
#BejelentkezesDiv{
    visibility: hidden;
    margin-top: auto;
}

ol {
    list-style: none;
    counter-reset: list;
    padding-top: 10px;
    padding-left: 1%;
}
li{
    padding-top: 10px;
}
/*li:before {
    content: counter(list) ")   ";
    counter-increment: list;
    width: 30px;
    display: inline-block;
    text-align: right;
} Ez okozta a random countert(?)*/ 

.valaszmezo{

    text-align: center;
    border: none;
    border-bottom: dotted black ; 
    outline: none;
}

@media screen and (max-width: 600px) {
    .valaszmezo{

        width: 70%;
        font-size: small;
        text-align: center;
        border: none;
        border-bottom: dotted black ; 
        outline: none;
    }
    ol{
        padding-top: 2px;
        padding-left: 1%;   
    }
    #oldal1,#oldal2{
        font-size: small;
        padding-bottom: 8%;
    }
    .align-top, .align-bottom{
        font-size: smaller;
    }
    #feladatleiras1{
        font-size: smaller;
    }
    #feladatszoveg1{
        padding-bottom: 1%;
        font-size: smaller;
    }

}

.Datum{
    text-decoration: none;
    color: black;
}
#Feladatsorok{
    height: 80%;
    width: 100%;
    margin-top: 5rem;
}
.SorDiv{
    display: flex;
    width: 96%;
    margin: 2%;
}
.FeladatsorDiv{
    color: black;
    padding: 1%;
    text-shadow: grey 0.1rem 0.1rem 0.2rem;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}
.FeladatImgDiv{
    width: 100%;
    height: 35%;
    text-align: center;
}
.FeladatImgDiv img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 5px 3px rgb(0, 0, 0) inset, 0 0 5px 2px rgb(255, 255, 255);
    border: solid black 3px;
    border-radius: .5rem;
}
.FeladatsorEvDiv{
    height: 5%;
}
.FeladatsorEvDiv h2{
    font-size: 1.5rem;
}
.FeladatsorHonapDiv{
    height: 10%;
}
.FeladatsorHonapDiv h3{
    font-size: 1.2rem;
}
#ecim {
    text-align: center;
}
#RegBlockVisszaGomb{
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius:.6rem;
    border-bottom-right-radius:.6rem;
    transition: ease-in-out .3s;
}
#RegBlockVisszaGomb:hover{
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom-left-radius:.3rem;
    border-bottom-right-radius:.3rem;
    transition: ease-in-out .3s;
}
#Logout{
    font-size: medium;
    text-align: center;
}
#Logout:hover{
    cursor: pointer;
}
.kivalasztottElem{
    /*A kiválasztott fióknál van használva (Admin panel)*/
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
}
#valaszok li:before{
    content: counter(list) ")   ";
    counter-increment: list;
    width: 30px;
    display: inline-block;
    text-align: right;
}
#feladatszoveg1{
    padding-bottom: 10%;
}
#cim1{
    text-align: center;
}
.Tooltip {
    position: relative;
    display: inline-block;
    color: rgba(128, 128, 128, 0.7);
}

.Tooltip .TooltipText {
    visibility: hidden;
    width: 20vh;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: -5px;
    right: 105%;
}
  
.Tooltip:hover .TooltipText {
    visibility: visible;
}


/* Sidemodalhoz */
.btn-position{
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position:absolute;
}
  
.modal.right.fade.in .modal-dialog {
  right:0 !important;
  transform: translateX(-50%);
}
.modal.right .modal-content {
  height:100%;
  overflow:auto;
  border-radius:0;
}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal.right.fade.in .modal-dialog {
  transform: translateX(0%);
}
.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
      
.modal.right .modal-header {
    background-color:#ff4d4d;
    color:#fff;
}
.modal.right .modal-header::after {
    content:""; 
    display:inline-block;
}
.modal.right .close {
    text-shadow:none;
     opacity:1; 
     color:#ff4d4d; 
     font-size:large;
}
/*  form-control  */
      
.form-control {border-radius:0; box-shadow:none}
.form-control:focus {box-shadow:none}
       
/*  Button  */
      
.btn {border-radius:0}
.modal-header{
    width: 100%;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}
.SideModalClose{
    transition: ease-in-out .3s;
    width: 10%;
    float: right;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 1rem;
    width: 5vh;
    height: 5vh;
}
.SideModalClose:hover{
    transition: ease-in-out .3s;
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: .75rem;
}
#SideModalDiakNev{
    width: 90%;
    text-align: center;
    margin-bottom: 0;
}
.modal-footer{
    margin: auto;
    font-size: medium;
    position: sticky;
}
.modal-body div{
    margin: 1%;
}
.ValtoztatasGombInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.ValtoztatasGombInfo p{
    margin: 0;
    text-align: center;
}
.ValtoztatasGombInfo button, #AdminGomb button{
    transition: ease-in-out .3s;
    border-radius: .5rem;
    border: solid black 2px;
    background-color: rgba(128, 128, 128, 0.3);
    margin: 1%;
    padding: 5%;
    width: 14vh;
    height: 100%;
}
.ValtoztatasGombInfo button:hover, #AdminGomb button:hover{
    transition: ease-in-out .3s;
    border-radius: .75rem;
    border: solid black 2px;
    box-shadow: 1px 1px 2px black;
    background-color: rgba(128, 128, 128, 0.2);
}
.SideBarh5{
    margin: 0;
    margin-top: .75rem;
    font-size: large;
}
#SideBarPfp{
    width: 5vh;
}
#SidemodalBody{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#AdminGomb{   
    text-align: center;
    margin-top: 3vh;
}
#AdminGomb button{
    width: 20vh;
    padding: 1%;
    text-align: center;
}
#AdminGomb button a{
    color: black;
    text-decoration: none;
}
#nevValtConf,#jelszoValtConf,#emailValtConf{
    display: flex;
}
.modal-header{
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 1055;
}

.modal-footer{
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: inherit;
    z-index: 1055;
    background-color: rgb(208, 208, 208);
    border-top: solid black 1.5px;
}
.modal-footer p{
    margin: auto;
    font-weight: bold;
}
.adminUserForm{
    display: flex;
    flex-direction: column;
}
.adminUserForm>button{
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid black 1px
}
.adminUserForm>input{
    margin-bottom: 10px;
}
.formLabel{
    background-color:  rgb(208, 208, 208);;
    border-radius: 10px;
    font-size: medium;
}
.adminUserOpciok{
    background-color: rgba(255, 255, 255, 0.5);
}
#nemkellastil{
    background-color: rgb(255, 255, 255) !important;
    border-radius: 0;
    border:rgb(0, 0, 0) 0px;
}
#kuldes{
    margin: 0;
    position: absolute;
}
#osztalyzat{
    margin-bottom: 15%;
    text-align: center;
    color: red;
    font-size: larger;
}
#fsorhiba{
    margin: auto;
    width: 20%;
    border: 3px solid red;
    padding: 10px;
    text-align: center;
}
#OldalVisszaGomb{
    width: 3rem;
    float: right;
    margin: 1%;
}
#fajlfel, #eredmenymegj {   
    width: 100%;
}
#AdminAdatcontainer{
    padding-top: 5rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.admingomb{
    transition: ease-in-out .5s;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: .5rem !important;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
}
.admingomb:disabled{
    background-color: rgba(220, 220, 220, 0.75);
    font-weight: normal;
}
.admingomb:hover{
    transition: ease-in-out .5s;
    width: 52%;
    margin-left: 24%;
    margin-right: 24%;
    padding: .5%;
    border-radius: .2rem !important;
    background-color: rgba(255, 255, 255, 1);
    font-weight: 600;
}
.AdminUjjelszogombok{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: .5rem;
    border:solid black 1px;
    background-color: rgba(255, 255, 255, 0.7);
}
.m{
    color: green;
}
.j{
    color: red;
}
@media screen and (min-width: 575px) {
    .Kozep:checked ~ .selector {
        left: 1.25vw;
    }
    .Emelt:checked ~ .selector {
        left: 15.5vw;
    }
    .modal-content{
        border-top-left-radius: 0rem !important;
        border-bottom-left-radius: 4rem !important;
    }
}

@media screen and (max-width: 575px) {
    #Profil{
        width: 15%;
        min-width: 1rem;
        max-width: 4rem;
        
        max-height: 5rem;
    }
    .toggle {
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        min-width: 40%;
        height: 10%;
        min-height: 10%;
        background: #ffffffbd;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 1rem;
        display: inline-block;
        padding: 2vh 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .toggleLabel{
        top: -1.5vh;
        font-size: 2.5vh;
        text-align: center;
        position: relative;
        cursor: pointer;
    }
    .selector {
        left: 2.5vw !important;
        width: 85%;
        height: 4vh;
        background: rgba(170, 169, 169, 0.801);
        border-radius: .8rem;
        position: absolute;
        top: .8vh;
        left: .5vw;
        z-index: 1;
        transition: top 0.25s ease-in-out;
    }
    .Kozep:checked ~ .selector {
        top: .8vh;
    }
    
    .Emelt:checked ~ .selector {
        top: 4.75vh;
    }
    #login,#regisztracio{
        box-shadow: 0 0 6px .5px black inset, 0 0 20px 5px black;
        transition: ease-in-out .5s;
        border-radius: 0;
        margin-bottom: 1rem;
        border: none;
    }
    .FeladatImgDiv img{
        max-width: 70% !important;
        max-height: 70% !important;
       
    }
    #Feladatsorok{
        margin-top: 6rem !important;
    }
    .modal-content{
        border-top-left-radius: 0rem !important;
        border-bottom-left-radius: 0rem !important;
    }
    #AdminAdatcontainer{
        flex-direction: column-reverse !important;
    }
  }
